*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

/*Página index*/
body{
	margin-top: 30px;
	background-image:url('../images/Fabrica-de-Softwar.jpg');
    background-size:cover;
}
textarea{
	max-height: 150px;
}
.fundo{
	display:inline-block;
    background-color:rgba(200, 200, 200, 0.8);
}



/* Página de cadastro E página atualizar*/

.cad{
	width: 100%;
	height: 100vh;
	background-image:url('../images/vitrine-01.jpg');
    background-size:auto 146vh;
    background-position:center;
}

.cad img{
	margin-top: 50px;
}

.cad .formulario {
	margin-top: 10px;
	width: 100%;
	max-width: 420px;
	height: auto;
	padding: 10px 20px;
	background-color: #ef7e04;
	border-radius: 30px;
}

.cad .default{
	max-width: 350px;
	line-height: 15px;
	border:2px solid #134980;
	word-wrap: normal !important ;
}
.cad .default2{
	max-width: 350px;
	height: 25px;
	max-height: 100px;
	border:2px solid #134980;
}
.cad .uf{
	max-width: 100px;
}
.cad .obs{
	height: 31px;
}
.cad .checkbox {
	max-width: 15px;
	max-height: 10px;
}
.cad .sim{
	padding-top:25px;
	margin-left: -10px;
}
.cad .button{
	width: 100%;
	max-width: 250px;
	height: auto;
	height: 40px;
	line-height: 10px;
	margin-left: 100px;
	margin-bottom: 5px;
	background-color:#134980;
	color: #FFF;
	border-radius: 30px;
}

/*Página de login*/

.login {
	background-color: #f79413;
	background-image:url('') !important;
}
.login img{
	margin-top: 30px; 
}
.formulario-log{
	margin: auto;
	margin-top: 20px;
	width: 100%;
	max-width: 510px;
	height: auto;
	padding: 20px;
	background-color: #134980;
	border-radius: 30px;
	color: #FFF;
}

.login input{
	margin: auto;
	margin-bottom: 5px;
	line-height: 30px;
	padding: 4px;
	font-size: 18px;
	border:1px solid #ef7e04;
}

.button-log1,
.button-log2{
	width: 100%;
	max-width: 450px;
	height: 30px;
	line-height: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
	color: #FFF;
	border:none;
	border-radius: 3px;
	border: 1px solid #4C4B4B;
	transition: all 0s ease-in;
}
.button-log1{
	background-color:#ef7e04;
	font-weight: bold;
	margin-right:5px;
	margin-bottom: 10px;
	box-shadow:1px 8px 2px  #f79413;
}
.button-log1:hover{
	margin-top: 5px;
	margin-bottom: 5px;
	box-shadow: 1px 3px 2px #f79413;
}
.button-log2{
	background-color:#FFF;
	color: #134980;
	font-weight: bold;
	margin-bottom: 10px;
	box-shadow:1px 8px 2px  #CCC;
}
.button-log2:hover{
	margin-top: 5px;
	margin-bottom: 5px;
	box-shadow: 1px 3px 2px #CCC;
}